<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}

    <p>The HTML head element contains meta data.</p>
    <p>Meta data is data about the HTML document.</p>

    {{> footer}}
</body>


</html>